main{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container{
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #c5fae6;
}
.mole{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  gap: 10px;
   background-color: blueviolet; 
}
.active{
  background-color: green;
}